/* :root {
    --text-color: #2d2d2d;
    --bg-color: #3cd6d2;
    --light-color: #9df2f9;
    --accent-color: #efbe22;
    /* --neutral-color: #dedede; */
    /* --dark-color: rgb(3, 42, 60);
 
} */ */

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    margin: auto;
}

h1 {
    color: #999;
    margin: 1rem 0;
    text-align: center;
}

section.demo1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

div {
    color: white;
    border: solid 8px rgba(13, 149, 216, .5);
    padding: 1rem;
    text-align: center;
    background-color: #f6da24;
    background-image: url('../images/repeat5.jpg');
    background-size: cover;
}

div:nth-child(1) { background-clip: border-box;}
div:nth-child(2) { background-clip: padding-box;}
div:nth-child(3) { background-clip: content-box;}
div:nth-child(3) p { margin: 10px;}


header {
    border-top: solid 1px #999;
    padding: 1rem 0;
    margin: 2rem auto
}
.demo2 h1 {
    color: hsl(208, 85%, 62%);
    font-size: clamp(2rem, 10vw, 5rem);
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    background-image: url('../images/bg-colors2.jpg');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.demo3 h1 {
    --c1: hsl(188, 90%, 55%);
    --c2: hsl(40, 95%, 55%);
    --bgSize: 300%;
    line-height: 1;
    font-size: clamp(3rem, 15vw, 8rem);
    background: linear-gradient(
                90deg,
                var(--c1), var(--c2), var(--c1)
    )
                0 0 / var(--bgSize) 100%;
    animation: moveBG 5s infinite linear;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes moveBG {
    to {background-position: var(--bgSize) 0;}
}